:host {
    border: 2px dashed cornflowerblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    width: 40vw;
    margin: 1%;
    padding: 2%;
    box-sizing: border-box;
}

.textAlignCenter {
    text-align: center;
}