<nav mat-tab-nav-bar mat-align-tabs="center">
  <a mat-tab-link 
    [routerLink]="['']" 
    [routerLinkActive]="['active']" 
    [routerLinkActiveOptions]="{exact:true}"
    >Home</a>
    <a mat-tab-link 
    [routerLink]="['floating-text']" 
    [routerLinkActive]="['active']"
    >Floating Text Page</a>
    <a mat-tab-link 
    [routerLink]="['e-commerce']" 
    [routerLinkActive]="['active']"
    >e-Commerce Page</a>
    <a mat-tab-link 
    [routerLink]="['timer-app']" 
    [routerLinkActive]="['active']"
    >Timer App Page</a>
    <a mat-tab-link 
    [routerLink]="['timer-app-v2']" 
    [routerLinkActive]="['active']"
    >Timer App v2 Page</a>
    <a mat-tab-link 
    [routerLink]="['students-marks']" 
    [routerLinkActive]="['active']"
    >Student Marks Page</a>
    <a mat-tab-link 
    [routerLink]="['dynamic-div']" 
    [routerLinkActive]="['active']"
    >Dynamic DIV Page</a>
</nav>

<router-outlet></router-outlet>
